openapi: 3.1.0
info:
  title: Tallow Secure File Transfer API
  description: |
    Comprehensive REST API for Tallow - end-to-end encrypted peer-to-peer file sharing.

    ## Features
    - Secure encrypted file transfer
    - Email-based file sharing
    - Batch transfer support
    - Room-based group transfers
    - Stripe payment integration
    - Comprehensive monitoring and health checks

    ## Authentication
    - CSRF tokens for state-changing operations
    - API key for email services
    - Webhook signature verification (HMAC-SHA256)
    - Optional bearer token for protected endpoints

    ## Rate Limiting
    Rate limits are per IP address with sliding window algorithm:
    - Strict: 3 requests/minute
    - Moderate: 5 requests/minute
    - Generous: 10 requests/minute
    - Download: 10 requests/minute
    - Room GET: 60 requests/minute
    - Room POST: 10 requests/minute
    - Room DELETE: 30 requests/minute

  version: '1.0.0'
  contact:
    name: Tallow Support
    url: https://github.com/tallow/tallow
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.tallow.app
    description: Production
  - url: http://localhost:3000
    description: Development

tags:
  - name: Security
    description: CSRF token generation
  - name: File Transfer
    description: Download encrypted files
  - name: Email Services
    description: Email-based file sharing
  - name: Health & Monitoring
    description: Health checks, metrics, and readiness probes
  - name: Room Management
    description: Create and manage transfer rooms
  - name: Payment
    description: Stripe payment integration
  - name: Cron Jobs
    description: Automated maintenance tasks

paths:
  /api/csrf-token:
    get:
      tags:
        - Security
      summary: Generate CSRF token
      description: Generate a new CSRF token for client-side state-changing operations
      operationId: generateCSRFToken
      security: []
      parameters: []
      responses:
        '200':
          description: CSRF token generated successfully
          headers:
            Set-Cookie:
              schema:
                type: string
                example: CSRF-TOKEN=a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6; HttpOnly; Secure; SameSite=Strict
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: 64-character hex token (256 bits)
                    example: a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6
                  message:
                    type: string
                    example: CSRF token generated
                required:
                  - token
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/download-file:
    post:
      tags:
        - File Transfer
      summary: Download encrypted file (secure - POST method)
      description: Download file with encryption key in request body (recommended method)
      operationId: downloadFilePost
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fileId:
                  type: string
                  description: File identifier
                  pattern: '^[0-9]+-[a-f0-9]{32}$'
                  example: '1707000000000-a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6'
                token:
                  type: string
                  description: Download verification token (64 hex characters)
                  pattern: '^[a-f0-9]{64}$'
                  example: '0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef'
                key:
                  type: string
                  description: AES-256 decryption key (64 hex characters, 256 bits)
                  pattern: '^[a-f0-9]{64}$'
                  example: 'fedcba9876543210fedcba9876543210fedcba9876543210fedcba9876543210'
              required:
                - fileId
                - token
                - key
      responses:
        '200':
          description: File downloaded successfully
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                  - application/octet-stream
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="document.pdf"
            Cache-Control:
              schema:
                type: string
                example: no-store, no-cache, must-revalidate, private
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidKey:
                  value:
                    error: Invalid encryption key format
                    status: 400
        '403':
          description: Invalid or expired download token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: File not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '410':
          description: Download limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          description: File verification or decryption failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      deprecated: true
      tags:
        - File Transfer
      summary: Download encrypted file (deprecated - GET method)
      description: |
        DEPRECATED - Use POST method instead.
        WARNING: Encryption key exposed in URL (appears in server logs, browser history, referrer headers)
      operationId: downloadFileGet
      security: []
      parameters:
        - name: fileId
          in: query
          required: true
          schema:
            type: string
            pattern: '^[0-9]+-[a-f0-9]{32}$'
        - name: token
          in: query
          required: true
          schema:
            type: string
            pattern: '^[a-f0-9]{64}$'
        - name: key
          in: query
          required: true
          schema:
            type: string
            pattern: '^[a-f0-9]{64}$'
      responses:
        '200':
          description: File downloaded (use POST method instead)
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/email/send:
    post:
      tags:
        - Email Services
      summary: Send file transfer email
      description: Send encrypted files to recipient via email
      operationId: sendEmailTransfer
      security:
        - csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipientEmail:
                  type: string
                  format: email
                  description: Recipient email address (RFC 5322 compliant)
                  example: user@example.com
                senderName:
                  type: string
                  maxLength: 100
                  example: John Doe
                senderEmail:
                  type: string
                  format: email
                files:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    properties:
                      filename:
                        type: string
                        maxLength: 255
                      content:
                        type: string
                        description: Base64 encoded file content
                      size:
                        type: integer
                        minimum: 1
                      contentType:
                        type: string
                        example: application/pdf
                      checksum:
                        type: string
                        description: SHA256 hash in hex
                    required:
                      - filename
                      - content
                      - size
                      - contentType
                compress:
                  type: boolean
                  default: true
                password:
                  type: string
                  minLength: 4
                  maxLength: 128
                expiresIn:
                  type: integer
                  description: Seconds until expiration
                  example: 86400
                maxDownloads:
                  type: integer
                  minimum: 1
                  maximum: 10
                  example: 5
                notifyOnDownload:
                  type: boolean
                  default: false
                trackOpens:
                  type: boolean
                  default: true
                trackClicks:
                  type: boolean
                  default: true
              required:
                - recipientEmail
                - senderName
                - files
      responses:
        '200':
          description: Email sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  transfer:
                    $ref: '#/components/schemas/TransferStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/email/batch:
    post:
      tags:
        - Email Services
      summary: Send file transfer to multiple recipients
      description: Send same files to up to 100 recipients in a single batch
      operationId: sendBatchEmailTransfer
      security:
        - csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                batchId:
                  type: string
                  description: Unique batch identifier
                recipients:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: string
                    format: email
                senderName:
                  type: string
                  maxLength: 100
                files:
                  type: array
                  minItems: 1
                  items:
                    type: object
                compress:
                  type: boolean
                  default: true
              required:
                - recipients
                - senderName
                - files
      responses:
        '200':
          description: Batch processing completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  batch:
                    type: object
                    properties:
                      batchId:
                        type: string
                      sent:
                        type: integer
                      failed:
                        type: integer
                      total:
                        type: integer
                      results:
                        type: array
                        items:
                          type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/email/status/{id}:
    get:
      tags:
        - Email Services
      summary: Check email transfer status
      description: Get delivery and download status for a transfer
      operationId: getEmailStatus
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Transfer ID
      responses:
        '200':
          description: Status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    $ref: '#/components/schemas/TransferStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/email/download/{id}:
    get:
      tags:
        - Email Services
      summary: Download file from email transfer
      description: Retrieve encrypted file data from email transfer (non-password protected)
      operationId: downloadEmailTransferFile
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File data retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  transfer:
                    type: object
                  encryptedFile:
                    type: object
        '401':
          description: Password required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  passwordProtected:
                    type: boolean
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: Transfer has expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'

    post:
      tags:
        - Email Services
      summary: Download password-protected file
      description: Retrieve encrypted file data with password verification
      operationId: downloadPasswordProtectedEmailTransfer
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  minLength: 1
              required:
                - password
      responses:
        '200':
          description: File data retrieved with password verification
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Invalid password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/email/webhook:
    post:
      tags:
        - Email Services
      summary: Handle Resend email webhooks
      description: Webhook endpoint for Resend email delivery events
      operationId: handleEmailWebhook
      security:
        - webhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - email.sent
                    - email.delivered
                    - email.delivery_delayed
                    - email.bounced
                    - email.complained
                    - email.opened
                    - email.clicked
                created_at:
                  type: string
                  format: date-time
                data:
                  type: object
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '401':
          description: Invalid webhook signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/send-welcome:
    post:
      tags:
        - Email Services
      summary: Send welcome email
      description: Send welcome email to new user
      operationId: sendWelcomeEmail
      security:
        - apiKey: []
        - csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                name:
                  type: string
              required:
                - email
                - name
      responses:
        '200':
          description: Welcome email sent
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/send-share-email:
    post:
      tags:
        - Email Services
      summary: Send share notification email
      description: Send file share notification email
      operationId: sendShareEmail
      security:
        - apiKey: []
        - csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                shareId:
                  type: string
                  pattern: '^[a-zA-Z0-9-]{1,64}$'
                senderName:
                  type: string
                  maxLength: 100
                fileCount:
                  type: integer
                  minimum: 1
                totalSize:
                  type: integer
                  minimum: 0
              required:
                - email
                - shareId
                - fileCount
                - totalSize
      responses:
        '200':
          description: Email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  shareUrl:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/health:
    get:
      tags:
        - Health & Monitoring
      summary: Basic health check
      description: Liveness probe for container orchestration
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                  service:
                    type: string
                  version:
                    type: string
                  uptime:
                    type: number
                  timestamp:
                    type: string
                    format: date-time

  /api/health/liveness:
    get:
      tags:
        - Health & Monitoring
      summary: Liveness probe
      description: Fast liveness probe for Kubernetes
      operationId: getLiveness
      security: []
      responses:
        '200':
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - alive

    head:
      tags:
        - Health & Monitoring
      summary: Liveness probe (HEAD)
      operationId: getLivenessHead
      security: []
      responses:
        '200':
          description: Service is alive

  /api/health/readiness:
    get:
      tags:
        - Health & Monitoring
      summary: Readiness probe
      description: Check if service is ready to serve traffic
      operationId: getReadiness
      security: []
      responses:
        '200':
          description: Service is ready
        '503':
          description: Service is not ready

  /api/health/detailed:
    get:
      tags:
        - Health & Monitoring
      summary: Detailed health status
      description: Comprehensive health check with all components
      operationId: getDetailedHealth
      security:
        - healthToken: []
      responses:
        '200':
          description: Detailed health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedHealth'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Service unhealthy

  /api/ready:
    get:
      tags:
        - Health & Monitoring
      summary: Readiness with dependency checks
      description: Comprehensive readiness check including PQC and signaling server
      operationId: getReady
      security: []
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  service:
                    type: string
                  checks:
                    type: object
        '503':
          description: Service not ready

  /api/metrics:
    get:
      tags:
        - Health & Monitoring
      summary: Prometheus metrics
      description: Export metrics in Prometheus format
      operationId: getMetrics
      security:
        - metricsToken: []
      responses:
        '200':
          description: Metrics in Prometheus format
          content:
            text/plain:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

    head:
      tags:
        - Health & Monitoring
      summary: Metrics endpoint health
      operationId: getMetricsHead
      security:
        - metricsToken: []
      responses:
        '200':
          description: Metrics endpoint available

  /api/rooms:
    get:
      tags:
        - Room Management
      summary: Get room information
      description: Retrieve room details by code
      operationId: getRoom
      security: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
            pattern: '^[A-Z0-9]{4,8}$'
            description: Room code (4-8 alphanumeric uppercase)
      responses:
        '200':
          description: Room information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: Room has expired

    post:
      tags:
        - Room Management
      summary: Create new room
      description: Create a new transfer room
      operationId: createRoom
      security:
        - csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  pattern: '^[a-zA-Z0-9-]{1,64}$'
                code:
                  type: string
                  pattern: '^[A-Z0-9]{4,8}$'
                name:
                  type: string
                  maxLength: 50
                ownerId:
                  type: string
                  pattern: '^[a-zA-Z0-9-]{1,64}$'
                ownerName:
                  type: string
                  maxLength: 50
                password:
                  type: string
                  minLength: 4
                  maxLength: 128
                expiresAt:
                  type: string
                  format: date-time
                  description: Max 7 days in future
                maxMembers:
                  type: integer
                  minimum: 2
                  maximum: 50
                  default: 10
              required:
                - id
                - code
                - ownerId
                - ownerName
      responses:
        '201':
          description: Room created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  room:
                    $ref: '#/components/schemas/Room'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Room code already exists
        '429':
          $ref: '#/components/responses/TooManyRequests'

    delete:
      tags:
        - Room Management
      summary: Delete room
      description: Delete a room (owner only)
      operationId: deleteRoom
      security:
        - csrfToken: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
            pattern: '^[A-Z0-9]{4,8}$'
        - name: ownerId
          in: query
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9-]{1,64}$'
      responses:
        '200':
          description: Room deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Only room owner can delete
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/stripe/create-checkout-session:
    post:
      tags:
        - Payment
      summary: Create Stripe checkout session
      description: Create payment session for donations
      operationId: createStripeCheckout
      security:
        - csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  minimum: 100
                  maximum: 99999900
                  description: Amount in cents (USD)
                  example: 100
              required:
                - amount
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Stripe not configured

  /api/stripe/webhook:
    post:
      tags:
        - Payment
      summary: Stripe webhook handler
      description: Handle Stripe payment events
      operationId: handleStripeWebhook
      security:
        - stripeSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
        '400':
          description: Invalid signature
        '503':
          description: Webhook not configured

  /api/cron/cleanup:
    post:
      tags:
        - Cron Jobs
      summary: Run cleanup job
      description: Clean up expired files and transfer records
      operationId: runCleanup
      security:
        - cronSecret: []
      responses:
        '200':
          description: Cleanup completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  filesDeleted:
                    type: integer
                  transfersDeleted:
                    type: integer
                  duration:
                    type: integer
                    description: Duration in milliseconds
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      deprecated: true
      tags:
        - Cron Jobs
      summary: Run cleanup job (GET - deprecated)
      operationId: runCleanupGet
      security:
        - cronSecret: []
      responses:
        '200':
          description: Cleanup completed (use POST instead)

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
        status:
          type: integer
          description: HTTP status code
          example: 400
        timestamp:
          type: string
          format: date-time
      required:
        - error

    TransferStatus:
      type: object
      properties:
        id:
          type: string
        recipientEmail:
          type: string
          format: email
        senderName:
          type: string
        status:
          type: string
          enum:
            - pending
            - sent
            - delivered
            - failed
            - expired
            - completed
        sentAt:
          type: string
          format: date-time
        deliveredAt:
          type: string
          format: date-time
        openedAt:
          type: string
          format: date-time
        clickedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        downloads:
          type: integer
        maxDownloads:
          type: integer
        isExpired:
          type: boolean
        events:
          type: array
          items:
            type: object
            properties:
              event:
                type: string
              timestamp:
                type: string
                format: date-time

    Room:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
          pattern: '^[A-Z0-9]{4,8}$'
        name:
          type: string
        ownerId:
          type: string
        ownerName:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true
        isPasswordProtected:
          type: boolean
        maxMembers:
          type: integer
        memberCount:
          type: integer

    DetailedHealth:
      type: object
      properties:
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
        version:
          type: string
        environment:
          type: string
        uptime:
          type: number
        timestamp:
          type: string
          format: date-time
        components:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              status:
                type: string
              message:
                type: string
              metrics:
                type: object
              lastChecked:
                type: string
                format: date-time
        system:
          type: object
          properties:
            platform:
              type: string
            nodeVersion:
              type: string
            memory:
              type: object
              properties:
                total:
                  type: integer
                used:
                  type: integer
                percentage:
                  type: number
            cpu:
              type: object

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: CSRF token invalid or insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  securitySchemes:
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token
      description: CSRF token for state-changing operations

    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key authentication (Bearer {api_key})

    webhookSignature:
      type: apiKey
      in: header
      name: resend-signature
      description: HMAC-SHA256 webhook signature

    stripeSignature:
      type: apiKey
      in: header
      name: stripe-signature
      description: Stripe webhook signature

    healthToken:
      type: apiKey
      in: header
      name: Authorization
      description: Optional bearer token for detailed health endpoint

    metricsToken:
      type: apiKey
      in: header
      name: Authorization
      description: Optional bearer token for metrics endpoint

    cronSecret:
      type: apiKey
      in: header
      name: Authorization
      description: Bearer token or Vercel Cron header for cleanup endpoint
